{% block nav %}
    <nav class="site-nav">
        <div class="container">
            {% if session['adventure'] %}
                <h1>{{ session['adventure'] }}</h1>
            {% else %}
                <h1>Adventures in Text</h1>
            {% endif %}
            {% if request.endpoint != 'menu' %}
            <a id="game-restart" href="{{ url_for('index') }}" rel="noopener">Restart</a>

            {% endif %}
        </div>
    </nav>
{% endblock %}