{% extends "layout/base.html" %}

{% block title %}Forbidden{% endblock %}

{% block body %}
  <h1>Forbidden</h1>
  <p>You shouldn't be here.</p>
  <p><a href="{{ url_for('index') }}">go somewhere nice</a>
{% endblock %}