{% extends "layout/base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block body %}
  <h1>Internal Server Error</h1>
  <p>There was an error!</p>
  <p><a href="{{ url_for('index') }}">go somewhere nice</a>
{% endblock %}