<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        html {
            font-size:16px;
            font-family: sans-serif;
        }
        body {
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            display: grid;
            grid-template-rows: 64px auto 128px;
            background-color: rebeccapurple;
            
        }

        footer {
            width: 100vw;
            height: 128px;
            text-align: center;
            background: rgb(37, 17, 62);
            color: white;
        }

        
        .site-nav {
            background-color: rgb(97, 40, 167);
            height: 64px;
            width: 100vw;
            box-shadow: 0 0 6px 2px hsla(0, 0%, 5%, .4);
        }
        
        .site-nav .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .site-nav h1{
            color: white;
        }

        .site-nav a {
            border-radius: 5px;
            background-color: rgb(255,0,0);
            color: white;
            text-decoration: none;
            padding: 10px;
            margin: 0 64px;
            align-self: center;
            justify-self: end;
        }
        
        .site-nav a:hover {
            background-color: rgb(225, 50, 50);
        }

        #room-description {
            text-indent: 2em;
        }

    </style>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block additional_css %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    {% block additional_scripts %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    {% endblock %}
    <main class="container">
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <p>Zach Berwaldt  | &copy; 2018</p>
    </footer>
</body>
</html>