{% extends "layout/base.html" %}

{% block title %}
<title>Gothons | Greeting Form</title>
{% endblock %}

{% block content %}

<h1>Fill Out This Form</h1>

<form action="/hello" method="POST">
    <label for="greet">
        A Greeting: <input type="text" name="greet" id="greet">
    </label>
    <label for="name">
        Your Name: <input type="text" name="name" id="name">
    </label>
    <input type="submit">
</form>    

{% endblock %}