{% extends "layout/base.html" %}

{% include "includes/nav.html" %}

{% block title %}
    <title>Gothons | Home</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h2>List of Adventures</h2>
            {% for map in maps %}
                <li> {{map}} </li>
            {% endfor %}
        </div>
    </section>

{% endblock %}