{% extends "layout/base.html" %}

{% include "includes/nav.html" %}

{% block title %}
<title>Gothons | {{ room.name | capitalize }}</title>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/getHelp.js')}}" defer></script>
{% endblock %}

{% block content %}
<div id="story">
    <h2>{{room.name}}</h2>
    <p id="room-description">{{ room.description }}</p>
</div>
{% if room.name != 'death' and room.name != 'The End' %}
<form name="actionForm" 
      id="actionForm" 
      action="/game" 
      method="POST" 
      autocomplete="off" 
      aria-autocomplete="none">
    <label id="action-label" for="action">
        What do you?: 
        <input type="text" name="action" id="action-input">
    </label>
    <input type="submit" value="submit">
</form>
<button id="getHelp">Hint(?)</button>
{% else %}
    <p>Do you want to play again?</p>
    <button>This doesn't do anything yet.</button>
    <button>This doesn't either.</button>
{% endif %}

{% endblock %}