{% extends "layout/base.html" %}

{% include "includes/nav.html" %}

{% block title %}
<title>Gothons | {{ room.name | capitalize }}</title>
{% endblock %}

{% block content %}
    <h1>You are dead.</h1>
{% endblock %}