.site-nav {
    display: none !important;
}

.game-title {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#target {
    font-size: 4em;
    opacity: 0;
    transform: translateY(60px);
    animation: start 2s ease-in-out 1s;
    animation-fill-mode: forwards;
}

@keyframes start {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    5% {
        opacity: 0;
        transform: translateY(-30px);
    }

    95% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}