.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

#actionForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 2px;
    background: white;
    padding: 36px;
    margin-top: 32px;
    box-shadow: 0px 1px 3px 2px hsla(0, 0%, 0%, .3);
}

#story {
    color: white;
}

#story h2 {
    text-align: center;
}

#story p {
    line-height: 2em;
}

#action-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

#action-input {
    display:inline;
    min-width: 5px;
    border-style: none;
    border-bottom: 1px solid black;
    padding: 0 8px;
    margin-left: 16px;
}

input[type="submit"] {
    margin-top: 32px;
    width: 75px;
    font-weight: 600;
    padding: 8px;
    align-self: flex-end;
    border-style:none;
    border-radius: 2px;
    background-color: rgb(26, 212, 26);
    transition: transform .05s ease-in;
}

input[type="submit"]:hover {
    transition: transform .1s ease-out;
    transform: scale(1.1);
    background-color: rgb(24, 187, 24);
}

#help {
    position: absolute;
    width: 200px;
    padding: 32px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 2px hsla(0, 0%, 0%, .3);
    background: white;
    left: 50%;
    bottom: -90px;
    transform: translate(-100px, -100px);
}

.fadeIn {
    animation: fadeIn .3s ease-in-out 0s 1 normal forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-100px, -130px);
    }

    to {
        opacity: 1;
        transform: translate(-100px, -100px);
    }
}