<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/main.css">
        <title>Hello, Sinatra!</title>
    </head>
    <body>
        <h1>Hello, About!</h1>
        <a href="/">Top</a>
        <a href="/home">Home</a>
        <a href="/about">About</a>
    </body>
</html>